body {
    padding:0;  /*去除内边距*/
    border:0;   /*去除边框*/
    margin:0;   /*去除外边距*/
    width: 100%;
    height: 100%;
    background-color: #eff0f4;
    font-family : "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,宋体;
}
a{text-decoration:none}
.header{
    width: 100%;
    height: 50px;
    background-color: #5fc0cd;
    margin-top: 0;
}
.title{
    text-align: center;
    color: #ffffff;
    width: 60%;
    float: left;
    margin-top: 10px;
    font-weight:600;
    font-size: 1em;
}
.close {
    width: 20%;
    float: left;
}
.signup{
    width: 20%;
    float: left;
}

.close a{
    float: left;
    padding: 10px 0 0 5px;
    color: #ffffff;
}
.signup a{
    color: #ffffff;
    float: right;
    padding: 10px 5px 0 0;
}

.input{
    margin-top: 10px;
    padding-left:50px;
    background:url(../images/mobile.png) no-repeat scroll left center transparent;
    background-size:50px 50px;
    background-color: #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    color: #404040;
    font: 15px/23px "Open Sans",Helvetica,Arial,sans-serif;
    height: 50px;
    outline: medium none;
    display: inline-block;
    width: 100%;
}

.pwd-input{
    margin-top: 10px;
    padding-left:50px;
    background:url(../images/pwd.png) no-repeat scroll left center transparent;
    background-size:50px 50px;
    background-color: #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    color: #404040;
    font: 15px/23px "Open Sans",Helvetica,Arial,sans-serif;
    height: 50px;
    outline: medium none;
    display: inline-block;
    width: 100%;
}

.login{
    text-align: center;
    background-color: #5fc0cd;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    font-weight:600;
    width:100%;
    border: 0;
    font-size: 1.2em;
    color: #ffffff;
}

.forget a{
    float: right;
    margin: 5px 5px 0 0;
    color: #5fc0cd;
    text-decoration:underline;
}