body {
    padding:0;  /*去除内边距*/
    border:0;   /*去除边框*/
    margin:0;   /*去除外边距*/
    width: 100%;
    height: 100%;
    font-family : "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,宋体;
}
a{text-decoration:none}
input,button,select,textarea{outline:none;}
.header{
    height: 5rem;
}
.header nav{
    background-color: #5fc0cd;
    text-align: center;
}
.header button{
    border:none;
}
.container{
    padding: 10px;
}

.cb-on-left{
    border: 0 none;
    border-left: 1px solid #e1e5e7;
    color: #999999;
}
.cborder{
    border: 0 none;
    color: #999999;
}

.mtb1 {
    margin: 1rem 0;
}
.main .fullrow{
    margin: 0 auto !important;
}
.con-list{
    border-top: 2px solid #e1e5e7;
    padding: 0 1.5rem;
}
.con-list .col-md-12{
    padding: 0;
}
.list-title{
    font-size: 0.9em;
    line-height: 30px;
    color: #b6b6b6;
}
.list-date{
    width: 70%;
    float: left;
    color: #333333;
    font-size: 1em;
    padding-left: 2rem;
}
.list-price{
    width: 30%;
    float: left;
    color: #e63b0e;
    font-size: 1em;
}

.list-address{
    font-size: 0.9em;
    line-height: 30px;
    color: #b6b6b6;
}

.icon{
    background: url(../images/imgs.png) no-repeat scroll;
    background-size: 9rem;
}
.icon-map{
    background-position: -3.8911rem 0.722rem;
    position: absolute;
    right: 5%;
    height: 2.8rem;
    width: 1.5rem;
}

.icon-home{
    background-position: 0 0;
    background-size: 9rem;
    height: 1.2rem;
    width: 1.7rem;
    margin: 0 auto;
}

.icon-center{
    background-position: -5.322rem 0;
    background-size: 9rem;
    height: 1.2rem;
    width: 1.7rem;
    margin: 0 auto;
}

.icon-feed{
    background-position: -2.099rem 0.611rem;
    background-size: 9rem;
    height: 2.2rem;
    width: 2.2rem;
    margin: 0 auto;
}

.icon-next{
    background-position: -2.122rem 0.311rem;
    background-size: 12rem;
    height: 2rem;
    width: 1rem;
    float: right;
}
.icon-date{
    background-position: -0.022rem -2.689rem;
    background-size: 20rem;
    height: 30px;
    width: 24px;
    float: left;
}
.icon-address{
    background-position: -4.322rem -2.689rem;
    background-size: 20rem;
    height: 30px;
    width: 24px;
    float: left;
}

.footer-actions{
    text-align: center;
}
.footer-txt{
    font-size: 1.2rem;
    color: #5fc0cd;
}

.active {
    background-color: #55a8b3 !important;
    color: #ffffff !important;
}

.footer{

}
.act-btn{
    border: none;
}
.feedback{
    width: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: #5fc0cd;
    border: none;
}


